<md-dialog type="text/ng-template" id="demo-app.delete.html" flex="50">
    <form class="scheduler-modal">
        <md-dialog-content>
            <div class="md-dialog-content">
                <h2 class="md-display-1">Edit persons</h2>
                <md-card-content>
                    <div layout="row">
                        <md-content>
                            <md-list flex="">
                                <md-list-item class="md-3-line" ng-repeat="person in persons" ng-click="">
                                    <div class="md-list-item-text" layout="column">
                                        <h3 class="shortText">{{ person.Name }}</h3>
                                        <h4 class="shortText">{{ person.Email }}</h4>
                                        <p class="shortText">{{ person.Mobile }}</p>
                                    </div>
                                    <md-icon class="scheduler-modal--delete" title="Delete" ng-click="deletePerson(person, $index)"></md-icon>
                                </md-list-item>
                            </md-list>
                        </md-content>
                        <div>
                            {{message}}
                            <br>
                        </div>
                    </div>
                </md-card-content>
                </md-card>

        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button class="md-raised" ng-click="hide()">Edit</md-button>
            <span flex></span>
            <md-button class="md-raised" ng-click="hide()">Cancel</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>