<md-dialog type="text/ng-template" id="demo-app.create.html" flex="50">
    <form name="schedulerModalCreate" class="scheduler-modal-create md-dialog-content">
        <md-dialog-content>
            <h2 class="md-display-1">Add vacation</h2>
            <md-card-content>
                <md-content class="md-no-momentum">
                    <div layout="row">
                        <md-input-container>
                            <label>Persons</label>
                            <md-select ng-model="selectedPerson" md-selected-text="getSelectedText()">
                                <md-optgroup label="persons">
                                    <md-option ng-value="person" ng-repeat="person in persons">{{person.Name}}</md-option>
                                </md-optgroup>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div layout="row" layout-padding="" ng-cloak="" ng-if="selectedPerson" flex-gt-xs>
                        <md-input-container>
                            <label>Enter start date</label>
                            <md-datepicker name="StartDate" ng-model="vacation.StartDate" md-min-date="minDate" md-date-filter="noWeekendsPredicate"
                                md-max-date="maxDate"></md-datepicker>

                            <div ng-messages="schedulerModalCreate.StartDate.$error">
                                <div ng-message="valid">The entered value is not a date!</div>
                                <div ng-message="required">This date is required!</div>
                                <div ng-message="mindate">Date is too early!</div>
                                <div ng-message="maxdate">Date is too late!</div>
                            </div>
                        </md-input-container>
                        <md-input-container>
                            <label>Enter end date</label>
                            <md-datepicker name="EndDate" ng-model="vacation.EndDate" md-min-date="minDate" md-date-filter="noWeekendsPredicate" md-max-date="maxDate"></md-datepicker>

                            <div ng-messages="schedulerModalCreate.EndDate.$error">
                                <div ng-message="valid">The entered value is not a date!</div>
                                <div ng-message="required">This date is required!</div>
                                <div ng-message="mindate">Date is too early!</div>
                                <div ng-message="maxdate">Date is too late!</div>
                            </div>
                        </md-input-container>
                    </div>
                </md-content>
            </md-card-content>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button class="md-raised" ng-click="addVacation(vacation)">Add</md-button>
            <span flex></span>
            <md-button class="md-raised" ng-click="cancel()">Cancel</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>